app = "devops-staging"

[build]
  image = "x7m7s7/devops:latest"

[[services]]
  internal_port = 5000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[env]
  PORT = "5000"

[processes]
  app = "gunicorn -w 1 -b 0.0.0.0:5000 app:app"
